body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

header {
    text-align: center;
    margin: auto 2em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 1em;
}

section {
    margin: auto 2em 1em 2em;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

#mainRight {
    margin: 0em;
}

.header_name {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: .6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0.1em auto;
}
.header_title {
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0em auto;
}
.header_border {
    border: none;
    background-color: darkgray;
    height: 1px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.section_title {
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0em auto;
}
.section_border {
    border: none;
    background-color: lightgray;
    height: 1px;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.name {
    font-size: 1.25em;
    font-weight: 500;
    padding-top: 0em;
    padding-bottom: 0.2em;
    margin: 0em auto;
}
.title {
    font-size: 1em;
    font-weight: 500;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0em auto;
}
.description {
    font-size: 1em;
    font-weight: 400;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0.2em auto;
}

.tab1 {
    padding-left: 1em;
}

.fa-ul {
    margin-top: 0.2em;
}

i {
    margin-right: 0.5em;
}